[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Snes9X GTK+
GenericName=snes9x-gtk
Comment=SNES Emulator
Exec=/usr/bin/snes9x-gtk
Icon=snes9x.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=Application;Game
GenericName[de_DE]=snes9x-gtk
