[Desktop Entry]
Type=Application
Name=OpenArena
Comment=Free stand-alone game based on the Q3A source release. 
Icon=/usr/share/pixmaps/openarena.png
Exec=openarena
Terminal=false
Categories=Game;ActionGame;
