[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ExtremeTuxracer
GenericName=ExtremeTuxracer
Comment=ExtremeTuxracer
Icon=extremetuxracer.png
TryExec=etracer
Exec=etracer
Terminal=False
Categories=Qt;KDE;GNOME;Application;Game;
