[Desktop Entry]
Version=1.0
Type=Application
Name=sparklet
Comment=A multiplatform, real-time, 2D, top-down view, 3rd person space shooting game!
Exec=sparklet
Encoding=UTF-8
Icon=/usr/games/sparklet.xpm
Categories=Game;ArcadeGame;
Terminal=false
StartupNotify=false
